<?xml version="1.0"?>
<Settings>
  <ScreenRes>
    <Fullscreen>Native</Fullscreen>
    <Medium>1280x720</Medium>
    <Small>640x480</Small>
  </ScreenRes>
  <Controls>
    <P1>
      <Jump>q</Jump>
      <Left>w</Left>
      <Down>e</Down>
      <Right>r</Right>
      <Jab>t</Jab>
      <Kick>y</Kick>
    </P1>
    <P2>
      <Jump>UP</Jump>
      <Left>LEFT</Left>
      <Down>DOWN</Down>
      <Right>RIGHT</Right>
      <Jab>ENTER</Jab>
      <Kick>CONTROL</Kick>
    </P2>
  </Controls>
</Settings>